<% if user_signed_in? %>
    <%= render 'layouts/sidebar' %>
<% end %>

<div class="col-med">
    <h2>Team <%= current_team.name %></h2>

    <span class="sub-title">Total Chores: <%= num_chores(current_team) %></span>

    <ul class="team-users">
    <%= render partial: 'users/user', collection: @users %>
    </ul>

</div>
