<% if object.errors.any? %>
    <div class="alert alert-error">
      <% object.errors.full_messages.each do |msg| %>
      <div class="alert error-message"><%= msg %></div>
    <% end %>
    </div>
<% end %>