<h2>Say goodbye to clutter in your home</h2>

<h3><%= fa_icon "bathtub" %><%= fa_icon "car" %><%= fa_icon "shopping-cart" %></h3>

<%= link_to 'Sign up for free', users_sign_up_path, class: 'btn-primary' %>