/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import url('https://fonts.googleapis.com/css?family=Lato');

/* global */

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    min-height: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover, .btn-primary:hover {
    transition-duration: .6s;
}

i:hover {
    transition-duration: .8s;
}

body {
    background: #f4f4f4;
    font: 16px/100% Lato, sans-serif;
    margin: 0;
}

main {
    background: #fff;
    border: 1px solid #ececec;
    margin: 0 auto;
    max-width: 1400px;
    padding: 50px 0;
    text-align: center;
}

main:after {
    content: "";
    display: table;
    clear: both;
}

nav {
    background-color: #0bd0de;
    margin: 0 0 2% 0;
    overflow: hidden;
}

/* images */

nav img {
    display: block;
    height: 2em;
    padding: .5em;
}

/* forms */

.text-field, .main-select, .text-field-sidebar, .text-field-table, .form-select {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #c7c9cc;
    height: 40px;
}

.text-field-table {
    font: 300 1em/100% Lato, sans-serif;
    width: 95%;
}

.text-field, .main-select {
    font: 300 1.3em/100% Lato, sans-serif;
    padding-left: 20px;
    width: 300px;
}

.text-field-sidebar {
    float: left;
    font: 300 1em/100% Lato, sans-serif;
    width: 75%; 
}

.form-select {
    background: #fff;
    color: #757575;
}

.main-select {
    background: #fff;
    color: #757575;
    width: 320px;
}

.main-select#chore_frequency_interval {
    margin-left: 50px;
}

/* icons & fonts */

.field i {
    color: #01D979;
    width: 2em;
}

.category-header i {
    color: #09c290;
}

input#chore_duration_end_date {
    color: #757575;
}

i.fa {
    font-size: 1.4em;
}

i.fa.fa-exclamation-circle {
    color: #dc143c;
}

.flash.success {
    background: #e6ffe6;
    color: #228B22;
    padding: 15px;
}

.flash.failure, .flash.error, .alert.error-message {
    background: #fde8ec;
    color: #bb1133;
    padding: 15px;
}

.avatar-circle {
  background-color: #09c290;
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  margin-bottom: 5%;
  width: 100px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.initials {
  color: #fff;
  font-size: 2.7em;
  line-height: 50px;
  position: relative;
  text-transform: uppercase;
  top: 25px; /* 25% of parent */
}

.category-color-circle {
    background: #ffd700;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}

h2 i.fa.fa-pencil {
    font-size: 50%;
}

.sidebar i.fa.fa-plus {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* tables */

table {
    margin: 0 auto;
}

th, td {
    padding: 15px;
}

td:nth-child(8), td:nth-child(9), td:nth-child(10) {
    padding: 0 7px;
}

/* layouts */

.field, .alert.alert-error {
    margin-bottom: 2%;
}

.field_with_errors { 
    display: inline; 
}

.col-med {
    float: left;
    margin: 0 auto;
    margin-left: 3%;
    margin-right: 3%;
    width: 76.5%;
}

.user-link {
    margin-top: 3%;
}

.sidebar {
    border-right: 1px solid gray;
    float: left;
    display: inline-block;
    margin-left: 2%;
    width: 15%;
}

/* links */

.sidebar li a, .user-link {
    color: #757575;
}

.sidebar li a:hover, .user-link:hover {
    border-bottom: 3px solid #0bd0de;
}

li.blue-names a {
    color: #0bd0de;
    font-size: 18px;
}

nav ul li a {
    color: white;
    display: block;
    line-height: 3em;
    padding: 1em 3em;
}

nav ul li a:hover {
    border-bottom: 5px solid #72f5ff;
    color: #72f5ff;
    padding-bottom: 11px;
}

a.js-user-link {
    color: #09c290;
}

ul[class^="js-user-info"] {
    padding-left: 0;
}

ul[class^="js-user-info-"] li {
    list-style: none;
}

/* buttons */

.check-button i {
    color: #c7c9cc;
    font-size: 2.3em;
}

.check-button i:hover {
    color: #09c290;
}

.btn-primary, .btn-secondary {
    background: #0bd0de;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-bottom: 15px;
}

.btn-primary {
    font-size: 1.2em;
    padding: 15px;
    width: 18%; 
}

.btn-primary:hover, .btn-secondary:hover {
    background: #6FD7E5;
}

.btn-secondary {
    float: left;
    font-size: 1em;
    padding: 10px 5px;
    width: 86%;
}

.btn-green i, .js-add-chore i {
    background: #c7c9cc;
    border-radius: 0.8em; 
    color: #fff;
    font-size: 1.45em;
    line-height: 1.45em;
    margin: 20px 10px;
    text-align: center;
    width: 1.45em;
}

button#delete_chore_icon i.fa.fa-trash {
    background: #c7c9cc;
    border-radius: 0.8em; 
    color: #fff;
    font-size: 1.69em;
    line-height: 1.55em;
    margin: 20px 10px;
    text-align: center;
    width: 1.55em;
}

button#delete_chore_icon i.fa.fa-trash:hover {
    background: #dc143c;
}

.btn-green i:hover, i.green-background {
    background: #09c290;
}

button.js-add-chore, button#delete_chore_icon {
    background: none;
    border: none;
    cursor: pointer;
}

.btn-facebook {
    background: #4267b2;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    margin-bottom: 5%;
    padding: 17px 20px;
    width: 18%
}

.btn-facebook:hover {
    opacity: .7;
    transition-duration: .5s;
}

/* lists */

ul.team-users {
    list-style: none;
    padding: 0;
}

ul.team-users li {
    margin-bottom: 2%;
}

ul.team-users li:last-child {
    margin-bottom: 5%;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding-left: 10px;
}

.sidebar li {
    margin-bottom: 10px;
    text-align: left;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    margin: auto 0;
}

nav ul li:first-child {
    margin-right: auto;
}

/* titles */

.sub-title {
    border-bottom: 2px solid #09c290;
    font-size: 1.6em;
    font-weight: 400;
}

h2 {
    color: #0FD9C4;
    font: 300 3em/100% Lato, sans-serif;
}

h3 i.fa {
    color: #d9d9d9;
    font-size: 3em;
    margin: 2% 2% 4% 2%;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 5px 5px 10px #f2f2f2;
}

/* footer */

footer {
    background-color: #ececec;
    bottom: 0;
    border-top: 1px solid #f2f2f2;
    left: 0;
    margin: 0 auto;
    padding: 16px 25px;
    position: absolute;
    right: 0;
    text-align: center;
}

footer .brand-name {
    float: left;
}

footer .footer-links {
    float: right;
}

.footer-links i, .brand-name a {
    color: #757575;
}
    .footer-links i:hover {
        opacity: .7;
    }

.footer-links a {
    margin-left: 25px;
}