/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require icomoon-free/style
 */

@import url('https://fonts.googleapis.com/css?family=Lato');

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    transition: .3s;
}

i:hover {
    transition: 1s;
}

body {
    background: #f4f4f4;
    font: 16px/100% Lato, sans-serif;
    margin: 0;
}

main {
    background: #fff;
    border: 1px solid #ececec;
    margin: 0 auto;
    max-width: 1300px;
    padding: 50px 0;
    text-align: center;
}

main:after {
    content: "";
    display: table;
    clear: both;
}

i.fa {
    font-size: 1.4em;
}

i.fa.fa-exclamation-circle {
    color: #dc143c;
}

nav {
    background-color: #0bd0de;
    margin: 0 0 2% 0;
    overflow: hidden;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav ul li a {
    color: white;
    display: block;
    line-height: 3em;
    padding: 1em 3em;
}

nav ul li a:hover {
    border-bottom: 5px solid #72f5ff;
    color: #72f5ff;
    padding-bottom: 11px;
}

nav ul li:first-child {
    margin-right: auto;
}

h2 {
    color: #0FD9C4;
    font: 300 3em/100% Lato, sans-serif;
}

.field, .alert.alert-error {
    margin-bottom: 2%;
}

.field_with_errors { 
    display: inline; 
}

.field i {
    color: #01D979;
    width: 2em;
}

.category-header i {
    color: #09c290;
}

.text-field, select {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #c7c9cc;
    font: 300 1.3em/100% Lato, sans-serif;
    height: 40px;
    padding-left: 20px;
    width: 300px;
}

select {
    background: #fff;
    color: #757575;
    width: 320px;
}

select#chore_frequency_interval {
    margin-left: 50px;
}

input#chore_duration_end_date {
    color: #757575;
}

.btn-primary {
    background: #0bd0de;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    padding: 15px;
}

.btn-primary:hover {
    background: #6FD7E5;
    transition: .5s;
}

.flash.success {
    background: #e6ffe6;
    color: #228B22;
    padding: 15px;
}

.flash.failure, .flash.error, .alert.error-message {
    background: #fde8ec;
    color: #bb1133;
    padding: 15px;
}

.avatar-circle {
  background-color: #09c290;
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  margin-bottom: 5%;
  width: 100px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.initials {
  color: #fff;
  font-size: 2.7em;
  line-height: 50px;
  position: relative;
  text-transform: uppercase;
  top: 25px; /* 25% of parent */
}

.sidebar {
    border-right: 1px solid gray;
    float: left;
    display: inline-block;
    margin-left: 2%;
    width: 20%;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding-left: 10px;
}

.sidebar li {
    margin-bottom: 10px;
    text-align: left;
}

.sidebar li a {
    color: #757575;
}

.sidebar li a:hover {
    border-bottom: 3px solid #0bd0de;
}

li.blue-names {
    color: #0bd0de;
    font-size: 18px;
}

table {
    margin: 0 auto;
}

th, td {
    padding: 15px 18px;
}

td:nth-child(8), td:nth-child(9), td:nth-child(10) {
    padding: 0 7px;
}

.col-med {
    float: left;
    margin: 0 auto;
    margin-left: 3%;
    margin-right: 3%;
    width: 71.5%;
}

.category-color-circle {
    background: #ffd700;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}

.check-button i {
    color: #c7c9cc;
    font-size: 2.3em;
}

.check-button i:hover {
    color: #09c290;
}

.btn-red i, .btn-green i {
    background: #c7c9cc;
    border-radius: 0.8em; 
    color: #fff;
    font-size: 1.45em;
    line-height: 1.45em;
    margin: 20px 10px;
    text-align: center;
    width: 1.45em;
}

h2 i.fa.fa-pencil {
    font-size: 50%;
}

.btn-red i:hover {
    background: #dc143c;
}

.btn-green i:hover {
    background: #09c290;
}