<% if user_signed_in? %>
    <%= render 'layouts/sidebar' %>
<% end %>

<div class="col-med">
<h2>All Categories</h2>
    <% if @chores.empty? %>
        <div>
            You currently have no chores.
        </div><br><br>
            <%= link_to "Add Chore", new_category_chore_path(Category.find_or_create_by(title: "Uncategorized").id), class: "btn-primary" %>
    <% else %>

        <%= render 'category_header' %>
        <%= render @chores %>
        </table>
    <% end %>
</div>