<% if user_signed_in? %>
    <%= render 'layouts/sidebar' %>
<% end %>

<div class="col-med">
<h2><%= @category.title %></h2>

<%= render 'category_header' %>
        <%= render @chores %>
    </table>
</div>