<% if @chores.empty? %>
    You do not currently have any chores. 
<% else %>

    <table class="list-field">
        <tr>
            <th></th>
            <th>Chore</th>
            <th>Category</th>
            <th><%= fa_icon "user" %></i></th>
            <th>From</th>
            <th>Until</th>
            <th>Frequency</th>
        </tr>
    <%= render @chores %>
    </table>

    <!--<%# if !@overdue_chores.empty? %>
        Overdue Chores:
        <%#= render partial: 'chore', collection: @overdue_chores %>
    <%# end %>-->
<% end %>