<% if user_signed_in? %>
        <%= render 'layouts/sidebar' %>
      <% end %>

<% if @chores.empty? %>
    <div class="no-chores-text col-med">
        You do not currently have any chores.
    </div>
<% else %>


    <%= render 'categories/category' %>
    <%= render @chores %>
    </table>
</div>


<% end %>