<%= render 'layouts/sidebar' %>

<div class="col-med">
    <h2><%= @category.title %></h2>

        <%= render 'categories/category_header' %>
        
        <%= render 'chore', chore: @chore %>
        </table>
</div>