<footer>
  <div class="brand-name">
      &copy; 2017 checked
  </div>
  <div class="footer-links">
      <a href="https://github.com/zeniavilla/checked-rails-app" target="_blank" title="View on GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="https://zeniavilla.com" target="_blank" title="Visit ZeniaVilla.com"><i class="fa fa-briefcase" aria-hidden="true"></i></a>
  </div>
</footer>