<div class="sidebar">
    <ul>
        <li>Add Chore</li>
        <li>View Team's chores</li>
        <li>Categories:</li>
            <%= render partial: 'categories/category', collection: Category.all %>
    </ul>
</div>