<div class="sidebar">
    <ul>
        <% if current_team %>
            <li class="blue-names">
                <%= current_owner.class.name + " " + current_team.name %>
            </li>
        <% end %>
        <li class="blue-names">
            Hello, <%= current_user.name %>
        </li><br>
        <li><%= link_to "Add Chore", new_chore_path %></li>
        <li>Categories:</li>

            <%= render partial: 'categories/category', collection: current_owner.categories.uniq %>
    </ul>
</div>